name: passive-income

on: 
  workflow_dispatch:
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: read
  
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps: 
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '21'

      - name: Install dependencies
        run: |
          echo 'Hello World'
          terraform --version


      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::394414610569:role/shen-bot
          aws-region: us-east-1

      - name: get caller identity
        run: |
          aws s3 ls 
          aws sts get-caller-identity
          cd terraform
          terraform init
          terraform plan -out "tfplan"
          pwd
          ls
    
